# dependencies
node_modules/
.pnpm-store/

# build outputs
.next/
dist/
build/
out/
.turbo/

# env
.env
.env.local
.env.*.local
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editors / os
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# prisma
packages/db/prisma/migrations/dev-tmp/

# testing
coverage/

# misc
*.tsbuildinfo
